body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    margin: 0;
    padding: 1em;
    background-color: #6aa2e3;
    color: #fff;
}
figure img {

    width: 10%;
}
h1 {
    text-align: center;
    margin-top: -80px;
}

/*form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: calc(50%);
    background-color: #6aa2e3;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(43, 106, 241);
}
.block2 {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.block1 {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}